h1 a {
    color : #FCA205;
    font-family : 'Lobster', cursive;
    /* font-family :
    쉼표(,)로 여러 글꼴을 등록 할 수 있는데, 이때 맨 앞에 있는 글꼴을 우선으로 적용시키며,
    맨 앞에 있는 글꼴이 사용자의 컴퓨터에 없을 때 그 다음 글꼴을 사용한다.
    ex) font-family:나눔고딕,NanumGothic,돋움,Dotum
    */
}

body {

}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.page-header h1 a:hover{
    text-decoration : underline;
}
.content {
    margin-left: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
    padding-right : 10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    padding-left : 10px;
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
